button{
    margin-bottom: 20px;
}

section{
    margin: 20px 0;
}
h4{
    margin-bottom: 30px;
}

h5{
    margin-top: 20px;
}

td{
    padding: 10px 0;
    &:first-child {
        padding-right: 30px;
    }
}

.donut-gauge-demo{
    display: flex;
    margin-top: 20px;
    align-items: baseline;
    flex-wrap: wrap;
    & > div{
        margin-right: 20px;
    }
}
.donut-gauge-demo__small{
    width: 100px;
    height: 100px;
}

.donut-gauge-demo__med{
    width: 150px;
    height: 150px;
}

.donut-gauge-demo__large{
    width: 200px;
    height: 200px;
}
